name: Run on AzureML

env:
  AZURE_WORKSPACE_NAME: "my-ml-workspace"
  AZURE_RESOURCE_GROUP: "ml-rsg"

  # TODO - Read json creds with https://stackoverflow.com/a/61919791

  # TODO - Maybe instead of below, we take in json for secret and do:
  # echo "{environment_variable_name}={value}" >> $GITHUB_ENV
  # https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#setting-an-environment-variable
  # AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  # AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  # AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  # AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  testJob:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - id: set_var
        run: |
          content=${{ secrets.AZURE_CREDENTIALS }}
          # the following lines are only required for multi line json
          content="${content//'%'/'%25'}"
          content="${content//$'\n'/'%0A'}"
          content="${content//$'\r'/'%0D'}"
          # end of optional handling for multi line json
          echo "::set-output name=packageJson::$content"
      - run: |
          echo "${{fromJson(steps.set_var.outputs.packageJson).galleryEndpointUrl}}"

# jobs:
#   deploy:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v3
#     - name: Set up Python
#       uses: actions/setup-python@v3
#       with:
#         python-version: '3.x'
#     - name: Read JSON
#       run: |
        
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install azureml-core 
    # - name: Run on AzureML
    #   run: |
    #     python run.py ... args go here

