name: Deploy on AzureML

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID of the model to deploy'
        required: true
        type: string
      model_artifact_path:
        description: 'Path to model artifact'
        required: true
        default: 'outputs/'
        type: string
      model_name:
        description: 'Name for the model when registering it on AzureML'
        required: true
        default: 'test-transformers-model'
        type: string
      service_name:
        description: 'Name of the deployment service'
        required: true
        default: 'test-transformers-service'
        type: string

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run on AzureML
      run: |
        python deploy.py \
          --subscription_id ${{ secrets.AZURE_SUBSCRIPTION_ID }} \
          --resource_group nate-azureml-rsg \
          --workspace_name nate-ml-2 \
          --tenant_id ${{ secrets.AZURE_TENANT_ID }} \
          --client_id ${{ secrets.AZURE_CLIENT_ID }} \
          --client_secret ${{ secrets.AZURE_CLIENT_SECRET }} \
          --experiment_name transformers-pipeline-ci \
          --run_id ${{ inputs.run_id }} \
          --model_name ${{ inputs.model_name }} \
          --service_name ${{ inputs.service_name }} \
          --model_artifact_path ${{ inputs.model_artifact_path }}
