name: Run on AzureML

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ruamel.yaml<0.17.5
        pip install azureml-core azureml-pipeline-core azureml-pipeline-steps azureml-mlflow
    - name: Run on AzureML
      run: |
        python run.py --subscription_id ${{ secrets.AZURE_SUBSCRIPTION_ID }} --resource_group nate-azureml-rsg --workspace_name nate-ml-2 --tenant_id ${{ secrets.AZURE_TENANT_ID }} --client_id ${{ secrets.AZURE_CLIENT_ID }} --client_secret ${{ secrets.AZURE_CLIENT_SECRET }} --experiment_name transformers-pipeline-ci

